
      h1 {font-family:sans-serif; text-align: center;}
     
      p {text-decoration: underline; text-align: center; font-style: oblique; font-weight: 600; font-size: 48px;}
     
      body{font-size: 16px;}

      ul{line-height: 2.5; ;}

      #yellow{
        background-color: yellow;
      }
      #red{
        background-color: red;
      }
      #brown{
        background-color: brown;
      }